html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

/* .flex-column {
    display: flex;
    flex-direction: column;
} */


/*------------------- ⇩ Header ⇩-------------------------------------------------------------------------*/


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    box-shadow: -6px -11px 25px 1px black;
}

.header-menu {
    display: flex;
    gap: 5px;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 8px;
}

.icon-content-button {
    display: flex;
    gap: 8px;
}

.openHeaderMenuMoreBackground {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-content-container {
    /* display: flex;
    /* Hidden by default */
    /* position: fixed; */
    /* Stay in place */
    /* z-index: 1; */
    /* Sit on top */
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 24px;
    /* flex-direction: column; */
}

.icon-content-button button {
    padding: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: x-large;
}

.icon-content-button button:hover {
    background-color: #FF7F01;
}

.icon-content-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 32px;
}

.icon-content-links a {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 8px;
    gap: 32px;
    text-decoration: none;
}

.icon-content-links a:hover {
    background-color: #FF7F01;
    ;
    border-radius: 5px;
}



.popupbtn {
    color: white;
    padding: 8px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

.popupbtn img {
    width: 32px;
    height: 32px;
}

.popupbtn:hover {
    background-color: #FF7F01;
}

/*--------------------------⇧ Header ⇧--------------------------------------------*/








/*-------------------  ⇩ Dropdown Button ⇩ ----------------------------------*/
.dropbtn {
    color: white;
    padding: 8px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

/* icon inside button */
.dropbtn img {
    width: 32px;
    height: 32px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border: 2px solid #f1f1f146;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 20px;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #FF7F01;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #FF7F01;
}

/*-------------------- ⇧ Dropdown Button ⇧ -------------------------------------------*/



/*-------------------  ⇩ Main ⇩ ----------------------------------------------*/
.main-container {

    display: flex;
    justify-content: center;
    position: relative;

}

.main-content-left {
    /* width: 85%; */
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 5px 0 5px -5px #333;
    overflow: hidden;
}


.main-content-left img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
}

.main-info-container {
    background-color: white;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.info-container-logo {
    width: 5.2rem;
    height: 5.2rem;
    position: absolute;
    top: -3.5rem;
    left: 5rem;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
}

.info-container-logo img {
    width: 4.2rem;
    height: 4.2rem;
    object-fit: contain;
}

.info-container-header {
    margin-top: 2rem;
    font-size: 1.5rem;
    margin-left: 5rem;
    margin-right: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-container-header-icon img:hover {
    background-color: #FF7F01;

}

h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.info-container-header-icon img {
    width: 1.7rem;
    height: 1.8rem;
    object-fit: contain;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 100%;
    padding: 7px;
}

.info-container-review {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 5rem;


}

.info-container-review img {
    width: 1.2rem;
    height: 1.2rem;
    object-fit: contain;
}

.info-container-delivery-details {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 5rem;
    margin-top: 0.5rem;


}

.info-container-delivery-details img {
    width: 1.2rem;
    height: 1.2rem;
    object-fit: contain;
}

.info-container-description {
    margin-left: 5rem;
    margin-top: 0.5rem;
    margin-right: 2.7rem;
}

.info-container-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-container-section img {
    width: 1.8rem;
    height: 1.8rem;
    object-fit: contain;
    background-color: whitesmoke;
    border-radius: 100%;
    padding: 7px;

}

.info-container-selection {
    margin-left: 5rem;
    margin-top: 2rem;
    margin-right: -2.6rem;
    overflow: auto;
    column-gap: 24px;
    display: flex;
    align-items: center;

    white-space: nowrap;
}

.info-container-selection-category {
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    padding: 10px;
}

.info-container-selection img {
    width: 1.8rem;
    height: 1.8rem;
    object-fit: contain;
    background-color: whitesmoke;
    border-radius: 100%;
    padding: 7px;
}



.info-container-selection img:hover {
    background-color: #FF7F01;
}

.info-container-selection-category a {
    text-decoration: none;
    color: black;
    padding: 8px;
}

.info-container-selection-category a:hover {
    background-color: #FF7F01;
    border-radius: 10px;
    padding: 8px;

}





/* Scrollbar */
::-webkit-scrollbar {
    background-color: #f5f5f5;
}


/* Hintergrundfarbe der Leiste */
::-webkit-scrollbar-track {
    background: white;
}

/* Anfasser */
::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 15px;
    border: 4px solid #ffffff;
}

/* Anfasser hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #808080;
}

.scrollArrow {
    cursor: pointer;
    margin-left: 5rem;
    margin-right: 0.5rem;
    margin-top: 2rem;
}

.product-container {
    margin-left: 5rem;
    margin-top: 2rem;
}



.card {
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 /20%);
    padding: 8px;
    margin-bottom: 32px;
    margin-right: 0.5rem;
    border-radius: 1rem;
}

.card img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 1rem;

    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.container {
    position: relative;

}

.icon {
    background: url('icon/add.png');
    height: 20px;
    width: 20px;
    display: block;
    /* Other styles here */
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
    opacity: 0.3;

}

.container:hover .middle {
    opacity: 1;
}

.add-product-button {
    background-color: #FF7F01;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 1rem;
    cursor: pointer;
}



/*-------------------  ⇩ Aside ⇩ --------------------------------------*/

aside {
    padding: 3rem;
    box-shadow: -1px 0px 7px -2px var(--headerImgHover);
    display: flex;
    justify-content: center;
    position: relative;
}

.shopping-card-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.empty-shopping-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
    gap: 1rem;
}

.empty-shopping-card img {
    height: 6rem;
    object-fit: contain;
}

.basket-header {
    display: flex;
    justify-content: center;
}

.orderContainer {
    display: flex;
    flex-direction: column;
}

.order-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 190px;

}

.order-add-reduce {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.order-add-reduce img:hover {
    background-color: #FF7F01;
    border-radius: 100%;
    cursor: pointer;



}

.basket-pay-button-container {
    display: flex;
    justify-content: center;
}

.basket-pay-button {
    padding: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: x-large;

}

.basket-pay-button:hover {
    background-color: #FF7F01;
}

.basket-costs-subtotal,
.basket-costs-delivery,
.basket-costs-total {
    display: flex;
    justify-content: space-between;
}





/*-------------------- ⇧ Aside ⇧ --------------------------------------*/

/*-------------------- ⇧ Main ⇧ ----------------------------------------------*/





/*-------------------  ⇩ footer ⇩ ----------------------------------------------*/

.footer {

    width: 85%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 1px solid rgb(213, 213, 213);
    padding: 5px;
    margin-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    gap: 20px;

}

.footer a {
    text-decoration: none;
    color: grey;
}

.footer a:hover {
    text-decoration: underline;
    color: #FF7F01;
}

.footerContainer {
    color: grey;
}

/*-------------------- ⇧ footer ⇧ ----------------------------------------------*/

.d-none {
    display: none;
}


/*-------------------  ⇩ Mobile ⇩ ----------------------------------------------*/

@media screen and (min-width: 1001px) and (max-width: 3000px) {
    #my-content {
        display: none;
    }
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
    .hide-mobile {
        display: none;
    }


    .shopping-button {
        box-shadow: 2px 2px 2px 2px rgb(0 0 0 /20%);
        padding: 8px;
        margin-bottom: 32px;
        
        height: 20px;
        border-radius: 1rem;
        background-color: #FF7F01;
        text-align: center;
        cursor: pointer;
    }

    .shopping-button::after {
        content: "Warenkorb";
    }

    .product-container {
        margin-left: 7px;
    }

    .info-container-header {
        margin-left: 7px;
    }

    .info-container-review {
        margin-left: 7px;
    }

    .info-container-delivery-details {
        margin-left: 7px;
    }

    .info-container-selection{
        margin-left: 7px;
    }
}


/*-------------------- ⇧ Mobile ⇧ ----------------------------------------------*/